@import '../../app.component.scss';

.container {
    width: 1140px;
    display: block;
    margin: auto;
    .lista-imoveis {
        padding: 0;
        display: flex;
        width: 100%;
        gap: 10px;
        flex-wrap: wrap;
        .imovel {
            list-style-type: none;
            padding: 10px 10px 30px 10px;
            width: 30%;
            background-color: #FFFFFF;
            font-family: $fonte-secundaria;
            font-size: $grande;
            color: $bege-claro;
            border-radius: 10px;
            box-shadow: $card-shadow;
            transition: $card-transition;
            &:hover {
                box-shadow: $card-shadow-hover;
            }
            img {
                width: 100%;
            }
            h2 {
                color: $cor-secundaria;
                font-size: $grande;
                margin-top: 10px;
            }
            ul {
                li {
                    color: $cinza;
                }
            }
        }
    }
}