<div class="container page">
    <h1>Bem vindos ao site da Imobiliária 1141!</h1>
    <ul class="lista-imoveis">
        <li class="imovel">
            <img src="https://pictures.escapia.com/HARDRE/202545/4003810267.jpg" alt="Foto da Casa Magnífica" />
            <h2>Casa Magnífica</h2>
            <ul>
                <li>04 quartos</li>
                <li>04 banheiros</li>
                <li>Metragem: 250m2</li>
                <li>Preço: R$ 1.000.000,00</li>
            </ul>
        </li>
    </ul>
</div>
