$fonte-principal: 'Helvetica', Arial, sans-serif;
$fonte-secundaria: 'Times New Roman', Times, serif;

$pequena: 14px;
$media: 18px;
$grande: 24px;
$extra-grande: 32px;

$cor-principal: #3D405B;
$cor-secundaria: #E07A5F;
$bege-claro: #F4F1DE;
$cinza: #4548BA;